# ignore all CSVs in repo
*.csv
# Ignore raw data
data/raw/

# Keep processed data
data/processed/*

# Python: Ignore compiled code
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Environment: Ignore local virtual environments
.venv/
venv/
env/
bin/

notebooks/.ipynb_checkpoints/
outputs/*.png

# Secrets: Ignore sensitive credentials
.env
*.secret
.streamlit/secrets.toml

# IDEs & System: Ignore tool-specific files
.vscode/
.idea/
.DS_Store
