fastapi==0.135.2
uvicorn==0.42.0
joblib==1.5.3
numpy==2.2.6
pandas==2.3.3
plotly==6.6.0
pydantic==2.12.5
requests==2.32.5
scikit-learn==1.7.2
scipy==1.15.3
streamlit==1.55.0
uvicorn==0.42.0
xgboost==1.7.5
watchdog==6.0.0
tensorflow==2.14.0
sqlalchemy==2.0.19
seaborn==0.12.3
matplotlib==3.7.2
